
  
  .sidebar-logo {
    width: 200px; 
    height: auto;
    display: block;
    margin: 0 auto 20px; 
  }
  
  .menu-items {
    list-style: none;
    font-size: 16px;
    text-align: left;
    padding: 25px;
    font-weight: 300;
    margin: 25px;
  }
 
  .sidebar .menu-items li a {
    color: inherit; 
    text-decoration: none; 
  }
  .menu-items li {
    margin-bottom: 25px;
    cursor: pointer;
    color: #000; 
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .menu-items li:hover {
    color: #007bff; 
  }
  
  .icon {
    margin-right: 5px;
  }
  .sidebar {
    flex: 0 0 20%; 
    border-right: 1px solid #ebebeb;
    background-color: #ffffff;
    padding: 20px;
    height: 100vh; 
    box-sizing: border-box; 
  }
  